body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}



h1, h2 {
    color: #2c3e50;
    margin: 1rem 0;
}

.container {
    display: grid;
    gap: 2rem; /* Space between the columns */

    @media (min-width: 1024px) {
        grid-template-columns: minmax(0,1fr) 400px;
    }
}

.cart-sidebar, .shop-grid {
    @media (min-width: 1024px) {
        padding: 2rem;
        height: 100vh;
    }
}

.shop-grid {    
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.cart-sidebar {
    padding: 1rem;
    background: #e0e0e0;
}

#products {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem; /* Space between the products */

    @media (min-width: 768px) {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem; /* Space between the products */
    }

    @media (min-width: 1400px) {
        grid-template-columns: repeat(3,1fr);
        gap: 2rem; /* Space between the products */
    }
}

.product {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    transition: transform 0.2s;
}

.shop-grid .product-meta {
    padding: 1.5rem;
}

.shop-grid img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product:hover {
    transform: scale(1.05);
}

.name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.price {
    color: #e74c3c;
}

button {
    background-color: #3498db;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

form {
    margin-top: 1rem;
}

input[type="number"] {
    border-radius: 3px;
    border: 1px solid #2980b9;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    width: 40px;
}

form.add {
    display: flex;
    gap: 1rem;
}

#cart .product {
    display: grid;
    grid-template-columns: 80px 1fr;
    text-align: left;
    gap: 1rem;
    position: relative;
    align-items: center;
}

#cart img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.remove {
    position: absolute;
    top: 0;
    right: 1rem;
}